div(id='footer').text-center
  small &copy;&nbsp;
    a(href='https://www.simplicite.io', target='_blank') Simplict&eacute;.io
script(type='text/javascript', src='/jquery/jquery.js')
script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/script.js')
